h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

h1, h3, h4, h5 {
  font-family: "EB Garamond", "Arial", sans-serif;
}

h2 {
  font-family: "Inter", "Arial", sans-serif;
}

body {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
}

.content-section {
  width: 360px;
  box-sizing: border-box;
  padding: 26px 20px;
  margin: auto;
}

.yellow-content {
  background-color: #fee42a;
}

.black-content {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #f5f5f5;
  margin: auto;
  width: 360px;
  min-height: 140px;
  padding: 24px 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
}

.header-logo {
  width: 78.45px;
  height: 15.43px;
}

.header-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  list-style-type: none;
  row-gap: 13px;
}

a {
    color: #F5F5F5;
}

.menu-list {
  text-decoration: none;
}

.cover {
  padding: 7px 25px 13px 0;
  background-position: 0 21px;
  background-size: 95% auto;
  background-repeat: no-repeat;
  background-image: url(../images/cover.svg);
  font-size: 72px;
  line-height: 100%;
}

.accent-span {
  display: block;
}

.text-left {
    margin-top: -9px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  padding: 33px 20px 34px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  font-size: 16px;
}

.intro__heading {
  margin: -7px 1px 0px;
  display: flex;
  justify-content: space-between;
  color: #cccccc;
  line-height: 120%;
  width: 320px;
}

.intro__title {
  width: 203px;
}

.intro__date {
  text-align: right;
  width: 101px;
}

.intro__main-text {
  line-height: 21.9px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  row-gap: 19px;
}

.reasons {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-top: 25px;
}

.content-section__subtitle {
  font-size: 28px;
  line-height: 115%;
  letter-spacing: 0.4px;
  margin-top: 13px;
}

.reasons_accent-span {
  margin-bottom: 16px;
}

.content-section__introduction {
  line-height: 27px;
  font-size: 20px;
}

.content-section__list {
  line-height: 21.6px;
  font-size: 16px;
  margin-left: 16px;
}

.how-to {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.how-to_content-section__subtitle {
  font-size: 28px;
}

.how-to_titly {
  margin-top: 10px;
  letter-spacing: 0.3px;
}

.how-to_content-section__introduction {
  line-height: 135%;
  font-size: 20px;
  margin-top: -5px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 34px;
}

.card {
  border-radius: 30px;
}

.card_color_black {
  background-color: #343434;
}

.card_color_yellow {
  background-color: #fee42a;
  color: black;
}

.card__author {
  margin: 20px auto auto 20px;
}

.card__author-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  margin-top: 5px;
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 279px;
  margin: auto;
  line-height: 21.6px;
  font-size: 16px;
  margin-bottom: 20px;
}

.card__title {
  line-height: 135%;
  font-size: 22px;
  letter-spacing: 0.4px;
}

.card__title_black {
  margin: 6px 0 auto;
}

.card__title_yellow {
  margin: 23px 20px auto;
}

.card__text_yellow {
  line-height: 21.6px;
  font-size: 16px;
  margin: 5px 20px 20px;
}

img {
  width: 100px;
  height: 100px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #f5f5f5;
  width: 360px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  border-top: 1px solid #fee42a;
}

.footer-list {
  width: 73px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  list-style-type: none;
}
