h1,h2,h3,h4,h5,h6 {
    font-size:inherit;
    font-weight:inherit;
} 

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

body {
    margin:0; /* обнуляем все отступы */
    font-family: 'Inter', 'Arial', sans-serif;
}

.content-section {
    width: 360px;
    box-sizing: border-box;
    padding: 26px 20px;
    margin:auto; /* распологает секцию посередине body */
}

.yellow-content {
    background-color: #FEE42A;
}

.black-content {
    background-color: black;
    color: white;
}

.header {
    display: flex; /* сделали флекс-контейнером */
    justify-content:space-between; /* расположили элементы по краям */
    background-color: black;
    color: #F5F5F5;
    margin:auto; /* распологает секцию посередине body */
    width: 360px;
    height: 140px;
    padding: 24px 20px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 19px;
}

.header-logo {
    width: 78.45px;
    height: 15.43px;
}

.header-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    list-style-type: none;
    row-gap: 13px;
}

.cover {
    padding-top: 7px;
    background-position: 0px 21px;
    background-size: 95% auto;
    background-repeat: no-repeat;
    background-image: url(../images/cover.svg);
    height: 221px;
}

/* Текстовые блоки */
.accent-span {
    display:block;
    font-size: 72px;
    margin: -18px -20px auto;
}

/* Текстовые блоки по центру */
.text-center {
    margin: -23px 37px auto;
}

/* Текстовые блоки справа */
.text-right {
    margin-left: 155px;
    margin-top: -22px;
}

.intro {
    padding: 40px 20px 34px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    font-size: 16;
}

/* контейнер для заголовка */
.intro__heading {
    margin:-7px 1px 0px;
    display: flex;
    justify-content: space-between; /* работает только с блоками */
    color: #CCCCCC;
    line-height: 120%;
    width: 320px;
    height: 38px;
}

.intro__title {
    width: 203px;
    height: 38px;
}
/* дата */
.intro__date {
    /* margin: 0px 12px; */
    text-align: right;
    width: 101px;
    height: 19px;
}

/* контейнер для текста */
.intro__main-text {
    line-height: 21.9px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    row-gap: 19px;
}

.reasons {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding-top: 25px;
}

.content-section__subtitle {
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0.2px;
    margin-top: 13px;
}

.reasons_text-right {
    margin-left: 80px;
}

.reasons_accent-span {
    margin-bottom: 16px;
}

.content-section__introduction {
    line-height: 27px;
    font-size: 20px;
}

.content-section__list {
    line-height: 21.6px;
    font-size: 16px;
    margin-left: 16px;
}

.how-to {
    display: flex;
    flex-direction: column;
    row-gap: 32px; 
    /* height: 1850px; */
}

.how-to_content-section__subtitle {
    font-size: 28px;
}

.how-to_titly {
    margin-top: 10px;
}


.how-to_text-right {
    margin-left: 95px;
    letter-spacing: 0.3px;
}

.how-to_content-section__introduction {
    line-height: 135%;
    font-size: 20px;
    margin-top: -5px;
}

/* это список карточек */
.cards-list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 34px;
}

.card {
    /* width: 320px;
    height: 495px; */
    border-radius: 30px
}

.card_color_black {
    background-color: #343434;
}

.card_color_yellow {
    background-color: #FEE42A;
    color: black;
}

.card__author {
    height: 125px;
    margin: 20px auto auto 20px;
}

.card__content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 279px;
    margin:auto;
    line-height: 21.6px;
    font-size: 16px;
    margin-bottom: 20px;
}

.card__title {
    line-height: 135%;
    font-size: 22px;
    letter-spacing: 0.4px;
}

.card__title_black {
    margin: 12px 0 auto;
}

.card__title_yellow {
    margin: 23px 20px auto;
}

.card__text_yellow {
    line-height: 21.6px;
    font-size: 16px;
    margin: 5px 20px 20px;
}

img {
    width: 100px;
    height: 100px;
}

footer {
    display: flex; /* сделали флекс-контейнером */
    justify-content:space-between; /* расположили элементы по краям */
    background-color: black;
    color: #F5F5F5;
    width: 360px;
    margin:auto; /* распологает секцию посередине body */
    padding: 20px;
    box-sizing: border-box; /* внутренние отступы не увеличивают футер */
    border: 1px solid #FEE42A; /* граница */
}

.footer-list {
    width: 73px;
    display: flex;
    justify-content:space-between;
    font-size: 14px;
} /* параметры списка из футера */

/* Шрифты */

h1 {
    font-family: 'EB Garamond', 'Arial', sans-serif;
} 

h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 135%;
    margin-top: 5px;
}






